.App {
  text-align: center;
  font-style: 'sans-serif';
  position: relative;
  width: 1440px;
  min-height: 1700px;

  
}
.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 1000px;
  background-color: white;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
