.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    color: #FFFFFF;
    position: absolute;
    width: 100vw;


}
.text-container {
    display:flex;
    position: absolute;
    top: 30px;
    left: 100px;
    font-weight: 800;

}
.text {
    text-transform: uppercase;
}