@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form, .register-form {
  position: absolute;
  left: 72px;
  top: 300px;
  width: 445px;
  height: 441px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-control {
  display: flex;
  align-items: center;
}
.login-form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 2px;
  color: #353535;
  font-weight: bolder;
  font-size: 12px;
}
.register-form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 2px;
  color: #353535;
  font-weight: bolder;
  font-size: 12px;
}


.input {
  width: 300px;
  height: 30px;
  border: none;
  background-color: #FBFAFA;
  box-shadow: 0px 4px 4px rgba(53, 51, 51, 0.25);
}

#password, #email, #name {
  text-align: center;
  font-family:'Open Sans', sans-serif ;
  font-size: 14px;
  font-weight: 600
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  margin:20px 0px;
}
button  {
  margin: 5px 0;
  border-radius: 20px;
}
#main-login-button {
  color: #FFFFFF;
  padding: 12px 130px;
  background-color: #000000 ;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#forgot-password-button {
  margin-top: 50px;
  color: #FFFFFF;
  padding: 12px 130px;
  background-color: #9e3434 ;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#main-register-button {
  color: #FFFFFF;
  padding: 12px 100px;
  background-color: #000000 ;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#main-login-button:hover, #main-register-button:hover {
  color: #000000;
  background-color:#FFFFFF;
  box-shadow: 0px 4px 4px rgba(53, 51, 51, 0.25);
  border: none;

}
#google-login-button {
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  box-shadow: 0px 4px 4px rgba(53, 51, 51, 0.25);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 78px;
  padding-right: 78px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  
}
#google-register-button {
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  box-shadow: 0px 4px 4px rgba(53, 51, 51, 0.25);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 78px;
  padding-right: 60px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  
}

#google-login-button:hover, #google-register-button:hover {
  background-color: #476BB0;
  color: #FFFFFF;

}


#google-login-button div {
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
#google-register-button div {
  margin-left:-10px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
#google-image {
  height: 30px;
  width: 30px;
  padding: 0px 0px;
  margin-top: 0px
}
.welcome-text {
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  left: 76px;
  top: 150px;
}
#greetings {
  text-transform: none;
  font-family: 'Open Sans';
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0
}
#message {
  font-size: 13px;
  color: #353535;

}
.logo-container {
  display:flex;
  height: 30px;
  position: absolute;
  left: 74px;
  top:50px;
  align-items: center;
  justify-self: center;
  text-align: center;
}
.logo-container p {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 2.0rem;
  text-transform: uppercase;
}


.boxinglogo{
  height: 30px;
  width: 30px;
  margin-right: 10px

  
}
.front-image {
  position: absolute;
  left: 780px;
  height: 700px;
  width: 600px;
  top: 18px;
  border-radius: 20px;
}
.links {
  margin-top: 10px
}
.links-a {
  text-decoration: underline;
  color: #476BB0;
  margin-right: 60px;
  font-size: 12px;
}
.login-link {
  margin-top: 0px;
  margin-left: 50px;
  
}
.login-link-a {
  text-decoration: underline;
  color: #476BB0;
  font-size: 12px;


}